p {
    border : 2px solid black;
    text-align: center;
    margin: 30px;
    padding:20px;
    font-size: 20px;
}
.satu{
    border: 5px solid green;
    padding: 30px 100px ;
    margin: 500px;
}
.dua{
    border: 5px solid  blue;
}