body {
  background-color: #f0f0f0;
  margin: 20px;
}
.container {
  margin: 200px;
  max-width: auto;
  padding: 100px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  font-family: lato , sans-serif;
}
