.margin {
    background-color: #e59866;
    padding: 20px;
    border: 2px dashed black;
}
.border {
    background-color: #fbe5d6;
    padding: 20px;
    border: 2px dashed black;
}
.padding {
    background-color: #90ee90;
    padding: 20px;
    border: 2px dashed black;
}
.content {
    background-color: #add8e6;
    padding: 20px;
    text-align: center;
    border: 2px dashed black;
}